---
import Layout from "../layouts/Layout.astro";
import VideoHeader from "../components/VideoHeader.astro";
---

<Layout title="Gabriel Forn-Cuní" navDark={true}>
  <VideoHeader
    source="/assets/header.mp4"
    abstract="I am a senior postdoctoral researcher at Leiden University. I aim to understand <a href='/research/immunometabolism'><span class='font-bold hover:text-cyan-400 transition-colors'>macrophage plasticity</span> and <span class='font-bold hover:text-pink-400 transition-colors'>metabolic reprogramming</span></a> in disease pathogenesis to rationally design novel immune-targeting therapies. My approach integrates immunology, cell biology, pharmacology, and (single-cell) transcriptomic technologies with <a href='/research/zebrafish'><span class='font-bold hover:text-yellow-500 transition-colors'>zebrafish models</span></a> that I validated for translational potential in close collaboration with hospitals and the pharmaceutical industry."
  />
</Layout>
